.navbar {
  padding: 10px 15px !important;
}

.brand-logo img {
  max-width: 120px !important;
  height: auto;
}

.navbar-brand img {
  max-width: 120px;
  transition: all 0.3s ease;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 70%;
  max-width: 600px;
  min-height: 400px;
  max-height: 80vh;
  padding: 20px;
  border-radius: 12px;
  animation: modalOpen 0.5s ease-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 1;
  transition: color 0.3s ease;
}

.close:hover {
  color: #000;
}

.modal-content iframe {
  width: 100%;
  height: calc(80vh - 40px);
  border: none;
  border-radius: 8px;
}

.team-slider {
  padding: 2rem 0 !important;
}

.slick-dots {
  bottom: -20px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
  background-color: #9c6814 !important;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  opacity: 1;
}

.team-slider .slick-slide {
  margin: 0 10px !important;
}

.quotes-slider {
  padding: 2rem 0;
}

.quotes-slider .slick-slide {
  margin: 0 10px;
}

.quotes-slider .card {
  transition: transform 0.3s ease;
}

.quotes-slider .card:hover {
  transform: translateY(-5px);
}

.quotes-slider .slick-dots {
  bottom: -40px;
}

.quotes-slider .slick-dots li button:before {
  font-size: 10px;
}

.quotes-slider .slick-prev,
.quotes-slider .slick-next {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.quotes-slider .slick-prev {
  left: -50px;
}

.quotes-slider .slick-next {
  right: -50px;
}

.quotes-slider .slick-prev:before,
.quotes-slider .slick-next:before {
  font-size: 20px;
  opacity: 1;
}

.full-image {
  max-width: 100% !important;
  max-height: 1200px !important;
  background-size: cover !important; /* Varsayılan olarak cover */
}
.card-team {
  background-color: transparent !important;
}
.single-link {
  display: flex;
  font-size: 24px;
  gap: 20px;
}
.link-images img {
  max-width: 140px !important;
  overflow: visible !important;
}
.card-team img {
  z-index: -10 !important;
}
.card-team .card-body {
  margin-top: -100px !important;
}
.card-team .card-body .social-links {
  display: flex !important;
  align-items: flex-end !important;
  flex-direction: column !important;
}
.card-team .card-body ul li {
  background-color: #fff !important;
  width: 26px !important;
  height: 26px !important;
  margin-bottom: 4px !important;
  text-align: center !important;
  transition: background-color 0.3s ease !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 6px !important;
}
.card-team .card-body ul li a {
  display: flex !important;
  align-items: center !important;
  color: #cf8a17 !important;
}
.card-team .card-body ul li:hover {
  background-color: #cf8a17 !important;
}
.card-team .card-body ul li:hover a {
  color: #fff !important;
}
.card-team .card-body .share-button {
  color: #fff !important;
  background-color: #cf8a17 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  justify-content: center !important;
  text-align: center !important;
  margin: -16px auto !important;
  display: flex !important;
  z-index: 2 !important;
  position: relative !important;
  align-items: center !important;
}
.card-team .card-body .info {
  background-color: #271f10 !important;
  color: #fff !important;
  transition: 2s !important;
  text-align: center !important;
  border-bottom: 1px solid #cf8a17 !important;
  z-index: 10 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.card-team .card-body:hover .info {
  background-color: #cf8a17 !important;
  z-index: 100 !important;
}
.card-team .card-body:hover .share-button {
  color: #cf8a17 !important;
  background-color: #fff !important;
}

@media (max-width: 375px) {
  .card-team {
    flex: 1 1 100% !important; /* XS için 1 kart */
  }
}
.idea-right {
  padding-top: 5px !important;
}
.carousel-control-prev,
.carousel-control-next {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: #c88b21 !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  width: 20px !important;
  height: 20px !important;
}

.carousel-control-prev {
  left: -15px !important;
  top: 40% !important;
}

.carousel-control-next {
  right: -15px !important;
  top: 40% !important;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  z-index: 1000;
}

.floating-button .apply-button {
  background-color: #cf8a17;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.apply-button:hover {
  background-color: #976510;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.6s ease !important;
}

@media (max-width: 992px) {
  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }
}
@media (max-width: 992px) {
  .carousel-control-prev {
    left: -30px !important;
    top: 47% !important; /* Sol ok butonunun konumu */
  }

  .carousel-control-next {
    right: -30px !important;
    top: 47% !important; /* Sağ ok butonunun konumu */
  }
  .four-line {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .carousel-control-prev {
    display: none !important;
  }

  .carousel-control-next {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .quotes-slider .slick-prev,
  .quotes-slider .slick-next {
    display: none !important;
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}
.idea {
  height: 50%;
}

/* Responsive ayarlar */
@media (max-width: 992px) {
  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }
}

@media (max-width: 600px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 85%;
    min-height: 300px;
  }

  .modal-content iframe {
    height: calc(70vh - 40px);
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%;
    min-height: 250px;
  }

  .modal-content iframe {
    height: calc(60vh - 40px);
  }
}
@media (max-witdh: 400px) {
  .link-images img {
    width: 40px !important;
  }
}

.icon-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.icon-button i {
  font-size: 24px;
  color: inherit;
  transition: transform 0.3s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:hover i {
  transform: rotate(45deg);
}

.icon-button:active {
  transform: scale(0.95);
}

.basvur-button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  position: relative;
  z-index: 10;

  font-family: "Manrope", sans-serif;
}

.basvur-button:hover {
  color: #f6ad1c;
}

.basvur-button:active {
  transform: scale(0.95);
}

.home-one .video-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.home-one .video-part .video-container {
  position: relative;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-one .video-part .video-container video {
  width: 100% !important;
  max-width: 675px !important;
  aspect-ratio: 1200 / 1100 !important;
  border-radius: 4px !important;
}
.footer-image {
  max-width: 120px !important;
}

/* Küçük tablet boyutu için */
@media screen and (max-width: 768px) {
  .navbar-brand img {
    max-width: 90px !important;
  }
  .footer-image {
    max-width: 130px !important;
    padding-left: 10px;
  }
}

/* Mobil boyut için */
@media screen and (max-width: 576px) {
  .navbar-brand img {
    max-width: 90px !important;
  }

  .floating-button .apply-button {
    width: 60px; /* Buton genişliği */
    height: 60px; /* Buton yüksekliği */
  }
}

.slide p {
  font-size: 18px;
  margin: 0;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.slide i {
  font-size: 12px;
}

.carousel-head {
  position: relative;
  overflow: visible !important;
}

.carousel-head .list {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-head .item {
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100% !important;

  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.carousel-head .item img {
  width: auto !important;
  max-height: 600px !important;
}

.carousel-head .item.active {
  opacity: 1;
}
.link-icons:hover {
  color: #cb8815;
}

.col-footer {
  padding: 0 !important;
}

/* Tablet için responsive */
@media screen and (max-width: 992px) {
  .slide p {
    font-size: 13px;
  }
  .slide i {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .slide p {
    font-size: 12px;
  }
  .slide i {
    font-size: 10px;
  }

  .carousel-head .item {
    height: 350px !important;
    width: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .carousel-head .item img {
    max-height: 100% !important;
    max-width: 95% !important;
    object-fit: contain;
  }
}

@media screen and (min-width: 1000px) {
  .single-link-footer {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 992px) {
  .carousel-head .item {
    height: auto !important;
    width: 100vw !important;
    display: block !important;
  }
  .carousel-head .item img {
    height: auto !important;
    width: 500px !important;
    background-size: contain !important;
  }
  .amazing-work .arrows {
    position: absolute;
    top: 50% !important;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .flex {
    margin-bottom: 250px !important;
  }
  .amazing-work {
    padding-top: 300px !important;
  }
  .amazing-work .arrows {
    position: absolute;
    top: 38% !important;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .carousel-head .item img {
    max-height: 95% !important;
    max-width: 97% !important;
    object-fit: contain;
    padding-right: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .amazing-work .arrows {
    position: absolute;
    top: 36% !important;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
