// Colors
$smokyBlack: #0f0f0f;
$eerieBlack: #1d1d1d;
$eerieBlackSecond: #121212;
$whiteColor: #fff;
$gainsboroParagraph: #ddd;
$platinum: #e2e2e2;
$harvestGold: #cf8a17;
$shadowBlack: #271f10;

// Google fonts
$manrope-font: "Manrope", sans-serif;
$jost-font: "Jost", sans-serif;
